<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # 1. API Requests go to Laravel
    RewriteRule ^api/(.*) index.php [L]

    # 2. Existing files and folders are served directly
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # 3. All other requests go to the Frontend SPA (index.html)
    RewriteRule ^ index.html [L]
</IfModule>
